flask
Flask-JWT-Extended
flask_smorest
Flask-SQLAlchemy
Flask-Migrate
Flask-MySQLdb
passlib
marshmallow
python-dotenv
gunicorn
flask-jwt-extended
passlib
pytest
pytest-flask
flask_testing
pytest-ordering
pandas
redis